<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statuses</key>
	<array>
		<dict>
			<key>attitudes_count</key>
			<integer>3</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>id</key>
			<string>3824316141411024</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/80292f4btw1eqi01myf23j20br08ogm0.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>媳妇手机没电了就放桌上了，我给充好放窗台了，2货媳妇发现手机电满的，很兴奋的跟我说她手机可以太阳能充电…#猪猪爱讲冷笑话#</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>4</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>猪猪爱讲冷笑话</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2150182731/50/5613586011/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>1</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3824316137609270</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/bd297795gw1eqhwikf145g208c0b4kgy.gif</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自即刻笔记</string>
			<key>text</key>
			<string>这是我见过的剪刀中。。最丧心病狂的。。。妈蛋，看这体位。。多带劲儿。。。[拜拜]</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>嘴巴笑抽筋了</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2655485361/50/40050952069/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>1</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3824316036693990</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>3</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>2</integer>
				<key>comments_count</key>
				<integer>0</integer>
				<key>created_at</key>
				<string>3分钟前</string>
				<key>idstr</key>
				<string>3824315345048798</string>
				<key>pic_urls</key>
				<array/>
				<key>reposts_count</key>
				<integer>16</integer>
				<key>source</key>
				<string>来自iPhone客户端</string>
				<key>text</key>
				<string>“你漂不漂亮”～“漂亮”～最近发了好多成精的萌宠，想看更多图片视频，请关注我[太开心]http://t.cn/RA2Nh5u</string>
				<key>user</key>
				<dict>
					<key>mbrank</key>
					<integer>2</integer>
					<key>mbtype</key>
					<integer>11</integer>
					<key>name</key>
					<string>萌宠画报</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/2390694421/50/5711472339/0</string>
					<key>vip</key>
					<true/>
				</dict>
			</dict>
			<key>source</key>
			<string>来自iPhone客户端</string>
			<key>text</key>
			<string>[笑cry]萌化//@好奇博士:嗯～//@同学你该吃药了:哈哈哈漂亮//@验算纸:又成精了[笑cry]//@猎奇菌:咪咪就是聪明//@水果酱:乖哦。嗯～</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>趣事搞笑百科</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2390654513/50/22820920787/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>5</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3824315965597597</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/624c2f04jw1eqi1pp43ppj20fd0a9mxu.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>3</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【恒天然认为牛奶价格可能已经触底】- 恒天然集团首席执行长史毕根斯表示，目前全脂奶粉的价格被低估，但如果中国重新出现牛奶供应短缺，全脂奶粉的价格就会回升至每吨3,500美元的水平。他表示，全脂奶粉价格可能已经触底。他还说，中国鲜奶供应过剩的局面已经扭转，价格已更加有利。</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>华尔街日报中文网</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1649159940/50/5598692408/1</string>
				<key>vip</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3824315936386412</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/636b674dgw1eqi1q6l64tj20fa082wf5.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【财政部：寻求或放弃亚投行一票否决权命题不成立】日前，有媒体报道称，中国放弃在亚投行的一票否决权以换取欧洲国家支持。财政部副部长史耀斌就此问题回应称，亚投行将遵循公开、透明、高效的方式建立一个全新的多边开发机构。所谓中方寻求或放弃一票否决权是一个不成立的命题。(财政部网站)</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>财经国家周刊</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1667983181/50/5662023381/1</string>
				<key>vip</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>3</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3824315777140974</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>7</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>2</integer>
				<key>comments_count</key>
				<integer>0</integer>
				<key>created_at</key>
				<string>3分钟前</string>
				<key>idstr</key>
				<string>3824315345048798</string>
				<key>pic_urls</key>
				<array/>
				<key>reposts_count</key>
				<integer>16</integer>
				<key>source</key>
				<string>来自iPhone客户端</string>
				<key>text</key>
				<string>“你漂不漂亮”～“漂亮”～最近发了好多成精的萌宠，想看更多图片视频，请关注我[太开心]http://t.cn/RA2Nh5u</string>
				<key>user</key>
				<dict>
					<key>mbrank</key>
					<integer>2</integer>
					<key>mbtype</key>
					<integer>11</integer>
					<key>name</key>
					<string>萌宠画报</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/2390694421/50/5711472339/0</string>
					<key>vip</key>
					<true/>
				</dict>
			</dict>
			<key>source</key>
			<string>来自iPhone客户端</string>
			<key>text</key>
			<string>哈哈哈漂亮//@验算纸:又成精了[笑cry]//@猎奇菌:咪咪就是聪明//@水果酱:乖哦。嗯～</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>11</integer>
				<key>name</key>
				<string>同学你该吃药了</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/3209618112/50/40019694154/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>13</integer>
			<key>comments_count</key>
			<integer>6</integer>
			<key>created_at</key>
			<string>2分钟前</string>
			<key>idstr</key>
			<string>3824315638446702</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/625ab309gw1eqi1b6svxaj20c80700t9.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/625ab309gw1eqi1b7vw9rj20c806haam.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/625ab309gw1eqi1b90rlqj20c807rwf0.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/625ab309gw1eqi1baorynj20c81jdwks.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>8</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【央视5套节目尺度大引热议 网友为武媚娘叫冤】央视5套推出一档节目，召集12个人在7天的训练之后进行一场花游表演。选手穿着比基尼，露胸尺度比《武媚娘》还大。该栏目微博宣称：“跟大头说NO！不剪，我们不剪！”有网友认为在央视这样的大尺度都能播，为何《武媚娘》却要被剪……via网易娱乐</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>中国经营报</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1650111241/50/5662078062/1</string>
				<key>vip</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>9</integer>
			<key>comments_count</key>
			<integer>5</integer>
			<key>created_at</key>
			<string>2分钟前</string>
			<key>idstr</key>
			<string>3824315629470387</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/884f7263jw1eqi1p0i79dj20ci08caan.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>11</integer>
			<key>source</key>
			<string>来自人民网微博</string>
			<key>text</key>
			<string>【80后离婚有点任性：女性主动离婚占多数】“80后”成为近年离婚诉讼主体，呈三大特点：一是因家庭琐事导致离婚的“80后”明显高于其他人群，且女性主动提出离婚的占多数；二是“闪离”现象突出；三是子女抚养问题，成为“80后”离婚诉讼的争议重点。（人民法院报）http://t.cn/RAZQEQ9</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>2</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>人民网</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2286908003/50/5684825992/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>15</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>2分钟前</string>
			<key>idstr</key>
			<string>3824315567255814</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>60</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>122</integer>
				<key>comments_count</key>
				<integer>33</integer>
				<key>created_at</key>
				<string>17分钟前</string>
				<key>idstr</key>
				<string>3824311863012910</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/8e6cb447gw1eqi0sog1shj20c80c50ts.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/8e6cb447gw1eqi0soyjp8j20c80c5gme.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/8e6cb447gw1eqi0spkkmnj20c80c5ab2.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/8e6cb447gw1eqi0sq79ehj20c80c5q45.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/8e6cb447gw1eqi0sqtf2zj20c80c8dgl.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/8e6cb447gw1eqi0srhh8wj20c80c7wfn.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/8e6cb447gw1eqi0ss1tgbj20c80c6aay.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/8e6cb447gw1eqi0ssnz88j20c80c80tj.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/8e6cb447gw1eqi0staff2j20c80c33zv.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>219</integer>
				<key>source</key>
				<string>来自微博 weibo.com</string>
				<key>text</key>
				<string>English Angora 英国安哥拉兔 🐰 🐰 🐰 [doge]</string>
				<key>user</key>
				<dict>
					<key>mbrank</key>
					<integer>5</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>热头像集</string>
					<key>profile_image_url</key>
					<string>http://tp4.sinaimg.cn/2389488711/50/40065847526/0</string>
					<key>vip</key>
					<true/>
				</dict>
			</dict>
			<key>source</key>
			<string>来自vivo_X5Max</string>
			<key>text</key>
			<string>  [doge]</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>4</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>每日笑话百科</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/3884592975/50/40049419542/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>3分钟前</string>
			<key>idstr</key>
			<string>3824315365212644</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>18</integer>
				<key>comments_count</key>
				<integer>0</integer>
				<key>created_at</key>
				<string>9小时前</string>
				<key>idstr</key>
				<string>3824171186588107</string>
				<key>pic_urls</key>
				<array/>
				<key>reposts_count</key>
				<integer>6</integer>
				<key>source</key>
				<string>来自微博 weibo.com</string>
				<key>text</key>
				<string>风水自然存在，风水作用于人生的方方面面 财运 健康 家庭 子女 等等。风水是一种改变命运的科学方法。有意识的风水调理，是以人驾驭的风水之道为前提，并以人目前阶段，对改变环境的掌控为基础，进行的环境改变。所以，风水调理并不是无限程度的，所以，风水是一门发挥积蓄潜能以改善人生的自然科学！</string>
				<key>user</key>
				<dict>
					<key>mbrank</key>
					<integer>6</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>风水智语</string>
					<key>profile_image_url</key>
					<string>http://tp4.sinaimg.cn/1999969267/50/5721772871/1</string>
					<key>vip</key>
					<true/>
				</dict>
			</dict>
			<key>source</key>
			<string>来自360安全浏览器</string>
			<key>text</key>
			<string>江湖中有很多神奇的传说，可以通过风水提前看人的命运怎么怎么样，对，好像很神奇，其实都没什么。能给普通百姓创造奇迹才是厉害的，但是创造奇迹是有前提条件的。这些道理要明白。</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>风水智语</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/1999969267/50/5721772871/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>3分钟前</string>
			<key>idstr</key>
			<string>3824315340848207</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>1</integer>
				<key>comments_count</key>
				<integer>12</integer>
				<key>created_at</key>
				<string>5小时前</string>
				<key>idstr</key>
				<string>3824228350706768</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/b60d4a83gw1eqhrnqtor6j20ku0hujuf.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>4</integer>
				<key>source</key>
				<string>来自微博 weibo.com</string>
				<key>text</key>
				<string>【#女屌逆袭日#】今天我会告诉你你最屌丝的行为是什么，记得告诉我你的星座，而且我会告诉你什么时候或者是做什么会逆袭哦！！！参加活动的，有机会得到旺姻缘的姻缘绳哦。[江南style]http://t.cn/RA24EHC</string>
				<key>user</key>
				<dict>
					<key>mbrank</key>
					<integer>6</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>会看相的兔子</string>
					<key>profile_image_url</key>
					<string>http://tp4.sinaimg.cn/3054324355/50/5710060162/1</string>
					<key>vip</key>
					<true/>
				</dict>
			</dict>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>转一次~</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>会看相的兔子</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/3054324355/50/5710060162/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>28</integer>
			<key>comments_count</key>
			<integer>10</integer>
			<key>created_at</key>
			<string>3分钟前</string>
			<key>idstr</key>
			<string>3824315328092513</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>21</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>14</integer>
				<key>comments_count</key>
				<integer>18</integer>
				<key>created_at</key>
				<string>8分钟前</string>
				<key>idstr</key>
				<string>3824314128297813</string>
				<key>pic_urls</key>
				<array/>
				<key>reposts_count</key>
				<integer>96</integer>
				<key>source</key>
				<string>来自微博 weibo.com</string>
				<key>text</key>
				<string>丧心病狂的案发现场，真是被狗日了。。。[笑cry] http://t.cn/RAAfTH3</string>
				<key>user</key>
				<dict>
					<key>mbrank</key>
					<integer>5</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>我与贱客的日常</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/1895286921/50/40065198661/1</string>
					<key>vip</key>
					<true/>
				</dict>
			</dict>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>[笑cry]</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>一起神回复</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/1895964183/50/22873788984/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>3分钟前</string>
			<key>idstr</key>
			<string>3824315286282937</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/b60d4a83gw1eqi1mqwp3yj20gv0htwfa.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【#女屌逆袭日#】@Hi_6weiwei 存在感太低的女屌。换斜刘海吧。</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>会看相的兔子</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/3054324355/50/5710060162/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>2</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>4分钟前</string>
			<key>idstr</key>
			<string>3824315181350556</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/a73d974ejw1eqi1n5nnrdj20cs09bdgw.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>2</integer>
			<key>source</key>
			<string>来自朵朵塔罗在线占卜馆</string>
			<key>text</key>
			<string>【越活越幸福的星座】冠军（双鱼座：小小愿望装满心脏，保护自己要学会健忘）、亚军（金牛座）、季军（白羊座）、第四名（射手座）、第五名（水瓶座）、第六名（双子座）、第七名（巨蟹座）、第八名（天秤座）、第九名（狮子座）、第十名（处女座）、第十一名（天蝎座）、第十二名（摩羯座）。</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>朵朵塔罗</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2805831502/50/5636350254/0</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>8</integer>
			<key>comments_count</key>
			<integer>3</integer>
			<key>created_at</key>
			<string>4分钟前</string>
			<key>idstr</key>
			<string>3824315176457525</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博树洞</string>
			<key>text</key>
			<string>我能有什么秘密啊，哈哈哈哈，see you 拉拉</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>4</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>微博树洞</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/5103578591/50/22871946288/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>4分钟前</string>
			<key>idstr</key>
			<string>3824315025868162</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/b60d4a83gw1eqi1m28kp8j20gy0hewfi.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【#女屌逆袭日#】@穆晓玥 人际关系很一般的女屌，带木佛珠吧。</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>会看相的兔子</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/3054324355/50/5710060162/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>89</integer>
			<key>comments_count</key>
			<integer>47</integer>
			<key>created_at</key>
			<string>4分钟前</string>
			<key>idstr</key>
			<string>3824315017063778</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/9e5389bbjw1eqi1mg2p8ej20b60fa74s.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>41</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【陕西省政协原副主席祝作利涉嫌受贿 被提起公诉】近日，河北检察机关依法对陕西省政协原副主席祝作利涉嫌受贿案提起公诉。检方指控：被告人祝作利利用其担任陕西省发改委副主任、主任、陕西省政协副主席等职务便利，为他人谋取利益，非法收受他人巨额财物，应以受贿罪追究其刑事责任。(央视记者左力)</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>4</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>央视新闻</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2656274875/50/5712463941/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>5分钟前</string>
			<key>idstr</key>
			<string>3824314849834129</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/b60d4a83gw1eqi1l9p29ej20fl0aot90.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【#女屌逆袭日#】@等待是谁都负担不起的未来_620 容易情绪化波动太多的女屌，想静心就多学禅宗。</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>会看相的兔子</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/3054324355/50/5710060162/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>10</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>6分钟前</string>
			<key>idstr</key>
			<string>3824314627609273</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/e5fec7b1gw1ep45wq48k9j20c8085wef.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/e5fec7b1gw1ep45wqafz9j20c8085jrb.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/e5fec7b1gw1ep45wqehv8j20c80853yg.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/e5fec7b1gw1ep45wqkua6j20c80853yi.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/e5fec7b1gw1ep45wqricaj20c808574a.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/e5fec7b1gw1ep45wqwvujj20c8085glj.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/e5fec7b1gw1ep45wr5t7uj20c80853yi.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/e5fec7b1gw1ep45wrirksj20c8085a9y.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/e5fec7b1gw1ep45wrnqe9j20c8085t8u.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>21</integer>
			<key>source</key>
			<string>来自即刻笔记</string>
			<key>text</key>
			<string>通俗易懂但句句令人深思的几大定律。</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>一句话囧言囧语</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1625152340/50/5619767355/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>40</integer>
			<key>comments_count</key>
			<integer>11</integer>
			<key>created_at</key>
			<string>6分钟前</string>
			<key>idstr</key>
			<string>3824314627608294</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/ba8d3519jw1eqhq5sd575j20c80c8mxe.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/ba8d3519jw1eqhq5sjiadj20c80c80sq.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/ba8d3519jw1eqhq5sqz8lj20c80c8q2y.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/ba8d3519jw1eqhq5sxh2vj20c80c8jrj.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/ba8d3519jw1eqhq5t89xrj20c80c8dfx.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/ba8d3519jw1eqhq5td9chj20c80c8mx7.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/ba8d3519jw1eqhq6izks8j20c80c8jrf.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/ba8d3519jw1eqhq6j5r0pj20c80c8aa3.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/ba8d3519jw1eqhq6jozmvj20c80c8dfx.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>68</integer>
			<key>source</key>
			<string>来自即刻笔记</string>
			<key>text</key>
			<string>女生熬夜的危害，请看完，转发告诉你身边的女孩吧！！！[衰]</string>
			<key>user</key>
			<dict>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>嘴巴笑抽筋了</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2655485361/50/40050952069/1</string>
				<key>vip</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>total_number</key>
	<integer>1091</integer>
</dict>
</plist>
